### Introduction to week 5 workbook: Creating a (simple) global metric

### Import Libraries and Dataset 
### Step 1

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sn
import matplotlib.dates as mdates
import datetime
import plotly.graph_objects as go

import scipy.stats as stats

df = pd.read_csv("../Data/FH.csv")

In [2]:
df.columns
df.head()

,Unnamed: 0,Timestamp,Seconds,Velocity,Acceleration,Odometer,Latitude,Longitude,Heart Rate,Player Load,AthleteID
0,0,9/30/2018 12:21:49 PM,0.0,0.06,-0.041234,0.0,42.263222,-83.741055,122,0.0,Athlete 1
1,1,9/30/2018 12:21:49 PM,0.1,0.06,-0.025926,0.0,42.263223,-83.741055,122,0.0,Athlete 1
2,2,9/30/2018 12:21:49 PM,0.2,0.06,-0.011945,0.0,42.263223,-83.741055,122,0.0,Athlete 1
3,3,9/30/2018 12:21:49 PM,0.3,0.09,0.048539,0.0,42.263223,-83.741055,122,0.0,Athlete 1
4,4,9/30/2018 12:21:49 PM,0.4,0.08,0.021406,0.0,42.263223,-83.741055,122,0.0,Athlete 1

### Step 2  Dataframe clean-up

In [3]:
columns_to_keep = ['Total.Distance', 'Total.Player.Load', 'Maximum.Velociy', 'Fake_Name']
df_FH = df.reindex(columns=columns_to_keep)
df_FH.head()

   Total.Distance  Total.Player.Load  Maximum.Velociy  Fake_Name
0             NaN                NaN              NaN        NaN
1             NaN                NaN              NaN        NaN
2             NaN                NaN              NaN        NaN
3             NaN                NaN              NaN        NaN
4             NaN                NaN              NaN        NaN

In [4]:
df.drop(['Unnamed: 0', 'Latitude', 'Longitude', 'Heart Rate'], axis=1, inplace=True) # we can drop the previous index column ('unnamed') and some others

In [5]:
master=df.set_index(['Timestamp', 'AthleteID'], inplace=False) # we'll use a multi-index to keep time in the index and the player ID #
master.head()

                                 Seconds  Velocity  Acceleration  Odometer  \
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1      0.0      0.06     -0.041234       0.0
                      Athlete 1      0.1      0.06     -0.025926       0.0
                      Athlete 1      0.2      0.06     -0.011945       0.0
                      Athlete 1      0.3      0.09      0.048539       0.0
                      Athlete 1      0.4      0.08      0.021406       0.0

                                 Player Load
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0
                      Athlete 1          0.0

### Step 3 - Make new variables -- be sure you pay attention to the changes in the performance variables

In [6]:
master['farthest']=master['Odometer'].diff(200) # 20 second window of recent distance covered (in meters) -- this will provide us perspective on the anaerobic capacity of the player

In [7]:
master['OneMinuteDistance']=master['Odometer'].diff(600) # 1 minute window of recent distance covered (in meters).

In [8]:
master.loc[master['OneMinuteDistance'] <0,'OneMinuteDistance'] = np.nan
master.loc[master['farthest'] <0,'farthest'] = np.nan

In [9]:
master.head()

                                 Seconds  Velocity  Acceleration  Odometer  \
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1      0.0      0.06     -0.041234       0.0
                      Athlete 1      0.1      0.06     -0.025926       0.0
                      Athlete 1      0.2      0.06     -0.011945       0.0
                      Athlete 1      0.3      0.09      0.048539       0.0
                      Athlete 1      0.4      0.08      0.021406       0.0

                                 Player Load  farthest  OneMinuteDistance
Timestamp             AthleteID
9/30/2018 12:21:49 PM Athlete 1          0.0       NaN                NaN
                      Athlete 1          0.0       NaN                NaN
                      Athlete 1          0.0       NaN                NaN
                      Athlete 1          0.0       NaN                NaN
                      Athlete 1          0.0       NaN                NaN

### Step 4

In [10]:
MaxValues_df=master.groupby('AthleteID').agg([max])
print(MaxValues_df)

            Seconds Velocity Acceleration  Odometer Player Load farthest  \
                max      max          max       max         max      max
AthleteID
Athlete 1   8759.98     7.24     5.981192  10036.75       891.5   119.37
Athlete 10  8749.93     6.79     5.580821   7269.15       615.6   111.93
Athlete 11  8749.93     6.56     3.825559   4791.84       449.0    87.14
Athlete 12  8749.91     7.38     4.360430   8551.21       734.4   177.37
Athlete 13  8749.93     6.33     7.034368   6345.99       609.2    83.81
Athlete 14  7855.38     6.58     4.908402   9906.41       951.3    94.24
Athlete 15  8749.93     6.61    11.318196   5001.16       540.0    85.37
Athlete 17  8749.93     7.71     5.889059   9896.45       888.5    97.05
Athlete 18  8759.92     6.63     5.557953   6326.56       688.5    81.20
Athlete 19  8749.92     6.85     4.089531   7952.18       781.6   107.76
Athlete 2   8749.93     4.69     3.819985   2001.83       220.6    67.25
Athlete 20  8749.93     7.32     5.553606   9214.04       886.7    95.91
Athlete 21  8749.93     6.31     5.394188   7360.27       624.5    99.72
Athlete 22  8749.93     3.94     3.201309   2209.77       262.3    55.32
Athlete 23  8749.92     7.17     6.044008   9254.26      1044.2    92.15
Athlete 24  8749.93     7.31     3.911020   6784.38       675.0   102.11
Athlete 3   8749.97     6.52     4.420637   4884.73       475.0    87.17
Athlete 4   8749.92     6.93     7.695746   8404.01       819.0    96.41
Athlete 5   8749.92     6.33     3.994656   7482.94       750.9    92.39
Athlete 6   8750.04     7.15     8.633133  10739.12       988.4    98.62
Athlete 7   8749.93     7.53     5.789903  10723.64       900.1    95.02
Athlete 9   8749.92     7.01     3.932414   9233.42       767.0    98.01

           OneMinuteDistance
                         max
AthleteID
Athlete 1             232.70
Athlete 10            276.47
Athlete 11            188.02
Athlete 12            190.98
Athlete 13            192.87
Athlete 14            201.00
Athlete 15            187.88
Athlete 17            214.22
Athlete 18            179.21
Athlete 19            212.21
Athlete 2             113.17
Athlete 20            250.36
Athlete 21            191.86
Athlete 22             90.69
Athlete 23            230.36
Athlete 24            208.56
Athlete 3             168.68
Athlete 4             225.55
Athlete 5             186.41
Athlete 6             205.90
Athlete 7             204.92
Athlete 9             170.66

### Step 5

In [11]:
MaxValues_df.apply(stats.zscore)

MaxValues_df['zscores_accel'] = stats.zscore(MaxValues_df['Acceleration'])
MaxValues_df['zscores_far'] = stats.zscore(MaxValues_df['farthest'])
MaxValues_df['zscores_three'] = stats.zscore(MaxValues_df['OneMinuteDistance'])
print(MaxValues_df)

            Seconds Velocity Acceleration  Odometer Player Load farthest  \
                max      max          max       max         max      max
AthleteID
Athlete 1   8759.98     7.24     5.981192  10036.75       891.5   119.37
Athlete 10  8749.93     6.79     5.580821   7269.15       615.6   111.93
Athlete 11  8749.93     6.56     3.825559   4791.84       449.0    87.14
Athlete 12  8749.91     7.38     4.360430   8551.21       734.4   177.37
Athlete 13  8749.93     6.33     7.034368   6345.99       609.2    83.81
Athlete 14  7855.38     6.58     4.908402   9906.41       951.3    94.24
Athlete 15  8749.93     6.61    11.318196   5001.16       540.0    85.37
Athlete 17  8749.93     7.71     5.889059   9896.45       888.5    97.05
Athlete 18  8759.92     6.63     5.557953   6326.56       688.5    81.20
Athlete 19  8749.92     6.85     4.089531   7952.18       781.6   107.76
Athlete 2   8749.93     4.69     3.819985   2001.83       220.6    67.25
Athlete 20  8749.93     7.32     5.553606   9214.04       886.7    95.91
Athlete 21  8749.93     6.31     5.394188   7360.27       624.5    99.72
Athlete 22  8749.93     3.94     3.201309   2209.77       262.3    55.32
Athlete 23  8749.92     7.17     6.044008   9254.26      1044.2    92.15
Athlete 24  8749.93     7.31     3.911020   6784.38       675.0   102.11
Athlete 3   8749.97     6.52     4.420637   4884.73       475.0    87.17
Athlete 4   8749.92     6.93     7.695746   8404.01       819.0    96.41
Athlete 5   8749.92     6.33     3.994656   7482.94       750.9    92.39
Athlete 6   8750.04     7.15     8.633133  10739.12       988.4    98.62
Athlete 7   8749.93     7.53     5.789903  10723.64       900.1    95.02
Athlete 9   8749.92     7.01     3.932414   9233.42       767.0    98.01

           OneMinuteDistance zscores_accel zscores_far zscores_three
                         max
AthleteID
Athlete 1             232.70      0.262904    1.029112      0.925621
Athlete 10            276.47      0.045469    0.692774      2.044355
Athlete 11            188.02     -0.907783   -0.427903     -0.216372
Athlete 12            190.98     -0.617304    3.651107     -0.140716
Athlete 13            192.87      0.834866   -0.578442     -0.092409
Athlete 14            201.00     -0.319710   -0.106935      0.115389
Athlete 15            187.88      3.161340   -0.507919     -0.219950
Athlete 17            214.22      0.212868    0.020096      0.453284
Athlete 18            179.21      0.033051   -0.696431     -0.441550
Athlete 19            212.21     -0.764424    0.504261      0.401910
Athlete 2             113.17     -0.910811   -1.327066     -2.129491
Athlete 20            250.36      0.030689   -0.031439      1.377000
Athlete 21            191.86     -0.055888    0.140799     -0.118224
Athlete 22             90.69     -1.246803   -1.866384     -2.704066
Athlete 23            230.36      0.297019   -0.201417      0.865812
Athlete 24            208.56     -0.861371    0.248843      0.308618
Athlete 3             168.68     -0.584607   -0.426547     -0.710690
Athlete 4             225.55      1.194049   -0.008836      0.742872
Athlete 5             186.41     -0.815949   -0.190567     -0.257522
Athlete 6             205.90      1.703128    0.091071      0.240630
Athlete 7             204.92      0.159018   -0.071673      0.215582
Athlete 9             170.66     -0.849752    0.063495     -0.660082

### Step 6

In [12]:
# adding up the z-scores to provide my simple global metric! 

MaxValues_df['Metric'] = stats.zscore(MaxValues_df['Acceleration']) + stats.zscore(MaxValues_df['farthest'])+stats.zscore(MaxValues_df['OneMinuteDistance']) + 10

print(MaxValues_df)

            Seconds Velocity Acceleration  Odometer Player Load farthest  \
                max      max          max       max         max      max
AthleteID
Athlete 1   8759.98     7.24     5.981192  10036.75       891.5   119.37
Athlete 10  8749.93     6.79     5.580821   7269.15       615.6   111.93
Athlete 11  8749.93     6.56     3.825559   4791.84       449.0    87.14
Athlete 12  8749.91     7.38     4.360430   8551.21       734.4   177.37
Athlete 13  8749.93     6.33     7.034368   6345.99       609.2    83.81
Athlete 14  7855.38     6.58     4.908402   9906.41       951.3    94.24
Athlete 15  8749.93     6.61    11.318196   5001.16       540.0    85.37
Athlete 17  8749.93     7.71     5.889059   9896.45       888.5    97.05
Athlete 18  8759.92     6.63     5.557953   6326.56       688.5    81.20
Athlete 19  8749.92     6.85     4.089531   7952.18       781.6   107.76
Athlete 2   8749.93     4.69     3.819985   2001.83       220.6    67.25
Athlete 20  8749.93     7.32     5.553606   9214.04       886.7    95.91
Athlete 21  8749.93     6.31     5.394188   7360.27       624.5    99.72
Athlete 22  8749.93     3.94     3.201309   2209.77       262.3    55.32
Athlete 23  8749.92     7.17     6.044008   9254.26      1044.2    92.15
Athlete 24  8749.93     7.31     3.911020   6784.38       675.0   102.11
Athlete 3   8749.97     6.52     4.420637   4884.73       475.0    87.17
Athlete 4   8749.92     6.93     7.695746   8404.01       819.0    96.41
Athlete 5   8749.92     6.33     3.994656   7482.94       750.9    92.39
Athlete 6   8750.04     7.15     8.633133  10739.12       988.4    98.62
Athlete 7   8749.93     7.53     5.789903  10723.64       900.1    95.02
Athlete 9   8749.92     7.01     3.932414   9233.42       767.0    98.01

           OneMinuteDistance zscores_accel zscores_far zscores_three  \
                         max
AthleteID
Athlete 1             232.70      0.262904    1.029112      0.925621
Athlete 10            276.47      0.045469    0.692774      2.044355
Athlete 11            188.02     -0.907783   -0.427903     -0.216372
Athlete 12            190.98     -0.617304    3.651107     -0.140716
Athlete 13            192.87      0.834866   -0.578442     -0.092409
Athlete 14            201.00     -0.319710   -0.106935      0.115389
Athlete 15            187.88      3.161340   -0.507919     -0.219950
Athlete 17            214.22      0.212868    0.020096      0.453284
Athlete 18            179.21      0.033051   -0.696431     -0.441550
Athlete 19            212.21     -0.764424    0.504261      0.401910
Athlete 2             113.17     -0.910811   -1.327066     -2.129491
Athlete 20            250.36      0.030689   -0.031439      1.377000
Athlete 21            191.86     -0.055888    0.140799     -0.118224
Athlete 22             90.69     -1.246803   -1.866384     -2.704066
Athlete 23            230.36      0.297019   -0.201417      0.865812
Athlete 24            208.56     -0.861371    0.248843      0.308618
Athlete 3             168.68     -0.584607   -0.426547     -0.710690
Athlete 4             225.55      1.194049   -0.008836      0.742872
Athlete 5             186.41     -0.815949   -0.190567     -0.257522
Athlete 6             205.90      1.703128    0.091071      0.240630
Athlete 7             204.92      0.159018   -0.071673      0.215582
Athlete 9             170.66     -0.849752    0.063495     -0.660082

               Metric

AthleteID
Athlete 1   12.217637
Athlete 10  12.782598
Athlete 11   8.447942
Athlete 12  12.893087
Athlete 13  10.164015
Athlete 14   9.688745
Athlete 15  12.433471
Athlete 17  10.686249
Athlete 18   8.895069
Athlete 19  10.141747
Athlete 2    5.632632
Athlete 20  11.376250
Athlete 21   9.966687
Athlete 22   4.182748
Athlete 23  10.961414
Athlete 24   9.696090
Athlete 3    8.278157
Athlete 4   11.928085
Athlete 5    8.735961
Athlete 6   12.034829
Athlete 7   10.302927
Athlete 9    8.553661

### Step 7 Identify the top 2 athletes on the team and compare with the workbook top 2

Here are the results ( for the key -- from the workbook)... Two highest were #1 and #12... followed closely by #10.
AthleteID              
Athlete 1   13.411208  
Athlete 10  13.130881  
Athlete 11   9.668775  
Athlete 12  13.335177  
Athlete 13   9.275439  
Athlete 14   9.810296  
Athlete 15   9.629877  
Athlete 17  12.085971  
Athlete 18   9.155264  
Athlete 19  11.004381  
Athlete 2    3.110064  
Athlete 20  12.648865  
Athlete 21   9.045761  
Athlete 22   1.769149  
Athlete 23  11.676773  
Athlete 24  10.933958  
Athlete 3    8.963054  
Athlete 4   10.274788  
Athlete 5    9.414085  
Athlete 6   10.793858  
Athlete 7   11.620004  
Athlete 9    9.242372