# English Premier League (EPL) Pythagorean Predictor

## Step 1

In [1]:
# Load the packages

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the data. 
# EPL results for the 2017/18 season

EPL18 = pd.read_excel('EPL2017-18.xlsx')
print(EPL18.columns.tolist())

['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

## Step 2

In [4]:
EPL18.head()

       Date        HomeTeam      AwayTeam  FTHG  FTAG FTR
0  20170811         Arsenal     Leicester     4     3   H
1  20170812        Brighton      Man City     0     2   A
2  20170812         Chelsea       Burnley     2     3   A
3  20170812  Crystal Palace  Huddersfield     0     3   A
4  20170812         Everton         Stoke     1     0   H

In [10]:
EPL18.groupby("Date").sum()

          FTHG  FTAG
Date
20170811     4     3
20170812     7    11
20170813     4     2
20170819     7     9
20170820     2     2
...        ...   ...
20180506     6     0
20180508     0     1
20180509     8     3
20180510     0     0
20180513    20    11

[105 rows x 2 columns]

## Step 3

In [7]:
EPL18.groupby("HomeTeam").sum()

                     Date  FTHG  FTAG
HomeTeam
Arsenal         383333336    54    20
Bournemouth     383324140    26    30
Brighton        383333189    24    25
Burnley         383333309    16    17
Chelsea         383324205    30    16
Crystal Palace  383324252    29    27
Everton         383333082    28    22
Huddersfield    383324056    16    25
Leicester       383333374    25    22
Liverpool       383324243    45    10
Man City        383333275    61    14
Man United      383324177    38     9
Newcastle       383324137    21    17
Southampton     383323598    20    26
Stoke           383333001    20    30
Swansea         383333291    17    24
Tottenham       383333204    40    16
Watford         383324226    27    31
West Brom       383324149    21    29
West Ham        383342728    24    26

## Step 4 (home team)

## Step 5 (home team)

## Step 6 (home team)

## Optional steps, not required for Assessment 
### (Uncomment to run)

In [ ]:
# Plot the data

#sns.relplot(x="pyth17", y="wpc17", data =EPL17)

In [ ]:
# Run the regression

#pyth_lm = smf.ols(formula = 'wpc17 ~ pyth17', data=EPL17).fit()
#pyth_lm.summary()

## Step 7 (=Step 4 (away team))

## Step 7 (=Step 5 (away team))

## Step 7 (=Step 6 (away team))

## Optional steps, not required for Assessment
### (Uncomment to run)

In [ ]:
# Plot the data

#sns.relplot(x="pyth18", y="wpc18", data =EPL2018)

In [ ]:
# Run the regression

#pyth_lm = smf.ols(formula = 'wpc18 ~ pyth18', data=EPL2018).fit()
#pyth_lm.summary()

## Step 8

## Step 9

## Optional steps, not required for Assessment
### (Uncomment to run)

In [ ]:
#sns.relplot(x="pyth17", y="wpc18", data =Half2predictor)

In [ ]:
#sns.relplot(x="wpc17", y="wpc18", data =Half2predictor)

Now you have completed the assignment, are these results consistent with those we found for Major League Baseball?